#banner{
    background-color: rgba(167, 10, 10, 0.918);
    color:white;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    padding: 1.5em;
}
#menu{
    display: flex;
    padding: 0.2em;
    background-color: rgba(54, 54, 54, 0.573);
     gap: 0.5em;
    a{
        text-decoration: none;
        color: white;
        background-color: rgba(167, 10, 10, 0.625);
        border-radius: 0.2em;
        padding: 0.3em;
        min-width: 80px;
        text-align: center;
       
    }
    a:hover{
        background-color: lightcoral;
        color: black;
    }
    .divider{
        flex: 1 1 auto;  
    }
}
.massage{
    background-color: hotpink;
    padding: 0.4em;
    border-radius: 0.4em;
    text-align: center;
    font-size: small;
}
